.skills {
  //background: $color-gray-0;
  padding: 150px 0;
  background: #eff0f2;
  background-image: url('../img/skills/skills.jpg');
  background-repeat: no-repeat;
  background-position: 40vw;
  background-attachment: fixed;
  background-size: auto;

  @include media-query('mobile') {
    background-image: unset;
  }

  & > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include media-query('mobile') {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    font-family: $font-secondary;
    margin-bottom: 2rem;
  }

  &__list {
    list-style-type: none;
  }

  &__item {
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    &-name {
      font-family: $font-secondary;
      font-size: $font-s;
      margin-bottom: 1rem;
    }
  }
}