// Fonts
$font-primary: 'Nunito Sans';
$font-secondary: 'Montserrat';

$font-s: 0.8rem;
$font-m: 1rem;

// Colors
$color-gray-0: #fafafa;
$color-gray-1: #f0f0f0;
$color-gray-2: #3d3d3d;

$color-teal: #39b4af;
$color-teal-alt: #43c3be;

$color-black: #000;
$color-white: #fff;